$padding-one: 1.5rem;
$padding-two: 1rem;

$font-size-one: 1.5rem;
$font-size-two: 1rem;
$font-size-three: 0.75rem;

.wishlist-wrapper {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 7.5rem;
    padding: $padding-one;

    .button-join {
        min-width: 25%;
        width: fit-content;
        font-size: $font-size-one;
        font-family: monospace;
        padding: 1rem 1rem;
        outline: 0;
        border: 5px solid white;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
    
        &:after {
            content: "";
            background-color: yellowgreen;
            width: 100%;
            z-index: -1;
            position: absolute;
            height: 100%;
            top: 12px;
            left: 12px;
            transition: 0.2s;
          }
          
          &:hover:after {
            top: 0px;
            left: 0px;
          }
      }
    
    
      .email{
            color: #fff;
            font-size: $font-size-one;
            background-color: transparent;
            width: 55%;
            box-sizing: border-box;
            border: none;
            border-bottom: 2px solid white;
            padding: 0 0.5rem;
            font-family: monospace;

            &:hover {
                background-color: white;
                color: black;
             }
            &:focus {
              outline: none;
              background-color: white;
                color: black;
                border-bottom: yellowgreen;
             }
            &:focus ~ .input-border {
              width: 100%;
             }
      }
}


@media (max-width: 1400px){
  .wishlist-wrapper{
    padding: $padding-two;
    margin-top: 3rem;
    .button-join{
      font-size: $font-size-two;
    }

    .email{
      font-size: $font-size-two;
    }
  }
}

@media (max-width: 1000px){
  .wishlist-wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


    .email{
      padding: $padding-two;
      margin-bottom: $padding-two;
    }
  }
}

@media (max-width: 600px){
  .wishlist-wrapper{
    .email{
      font-size: 0.75rem;
    }

    .button-join{
      font-size: 0.75rem;
    }
  }
}