$heading-size-one: 15rem;
$heading-size-two: 7rem;
$heading-size-three: 2.0rem;
$heading-size-four: 1.5rem;

$font-size-one: 1.5rem;
$font-size-two: 0.85rem;

.accent-one{
    color: white;
}

.accent-two{
    color: yellowgreen
}

.italic{
    font-style: italic;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    backdrop-filter: blur(40px);

    .info{
        color: white;
        font-size: $font-size-one;
        font-family: monospace;
        writing-mode: vertical-rl;
        position: fixed;
        left: 1rem;
        top: 50vh;
        transform: translateY(-50%);
    }

    .logo{
        position: absolute;
        z-index: 100;
        top: 2rem;
        left: 2rem;
    }

    .heading{
        font-size: $heading-size-one;
        font-family: monospace;
    }

    .heading-two{
        font-size: $heading-size-three;

        font-family: monospace
    }

    .heading-three{
        font-size: $heading-size-four;
        display: flex;
        justify-content: center;
        font-family: monospace;
    }

    .message{
        color: white;
        font-family: monospace;
        margin-top: 1rem;
    }
}

@media (max-width: 1250px){
    .wrapper{
        .heading{
            font-size: $heading-size-two;
        }
        .heading-two, .heading-three{
            font-size: $font-size-two;
        }
    }
}

@media (max-width: 600px){
    .wrapper{
        .heading{
            font-size: 4.5rem;
        }
        .heading-two, .heading-three{
            font-size: $font-size-two;
        }
    }
}